// Specific CSS for your home-page

.cards {
  display: flex;
  text-align: center;
  font-family: sans-serif;
  justify-content: space-between;
}

.flex-basis {
  display: flex;
  text-align: center;
  font-family: sans-serif;
  justify-content: space-between;
}

.h1 {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

