<div class="container bg-white rounded pt-3 mt-3">
<h1 class="text-warning">Thank you for your booking request for <%= @booking.puppy.name %></h1>
<p class="text-secondary">
  Your pet-a-puppy session is taking place on <%= @booking.start_date %> until the <%= @booking.end_date %>
We'll inform you when your session is confirmed by the dog owner.
</p>

<h3 class="text-secondary">Visit your  <%= link_to 'dashboard', bookings_path %> to view your requests and bookings.</h3>

</div>
